$icomoon-font-family: "elite-edd" !default;
$icomoon-font-path: "fonts" !default;

$eledd-settings2: unquote('"\\e900"');
$eledd-settings1: unquote('"\\e901"');
$eledd-settings3: unquote('"\\ea52"');
$eledd-reset3: unquote('"\\e999"');
$eledd-reset1: unquote('"\\e99a"');
$eledd-reset2: unquote('"\\e99b"');
$eledd-info5: unquote('"\\e965"');
$eledd-info6: unquote('"\\e966"');
$eledd-info7: unquote('"\\e967"');
$eledd-info8: unquote('"\\e968"');
$eledd-info1: unquote('"\\e96a"');
$eledd-info2: unquote('"\\e96c"');
$eledd-info3: unquote('"\\e96d"');
$eledd-info4: unquote('"\\e96e"');
$eledd-elite-licenser: unquote('"\\e920"');
$eledd-range-pen-1: unquote('"\\ea5d"');
$eledd-range-pen-2: unquote('"\\ea5e"');
$eledd-des-close: unquote('"\\e9a2"');
$eledd-des-note: unquote('"\\e9aa"');
$eledd-des-plus: unquote('"\\e9af"');
$eledd-check-circle-o: unquote('"\\e995"');
$eledd-check-circle11: unquote('"\\e994"');
$eledd-des-note1: unquote('"\\e9ab"');
$eledd-refresh: unquote('"\\e9e1"');
$eledd-rotate-right: unquote('"\\e9e3"');
$eledd-times-circle: unquote('"\\e9fb"');
$eledd-times-circle-o: unquote('"\\e9fc"');
$eledd-trash-21: unquote('"\\e9ff"');
$eledd-trash-o: unquote('"\\ea00"');
$eledd-trash1: unquote('"\\e9fd"');
$eledd-trash11: unquote('"\\e9fe"');
$eledd-x-circle1: unquote('"\\ea15"');
$eledd-x-octagon: unquote('"\\ea16"');
$eledd-x-square1: unquote('"\\ea17"');
$eledd-check1: unquote('"\\e915"');
$eledd-check-circle1: unquote('"\\e916"');
$eledd-check-square1: unquote('"\\e917"');
$eledd-circle-check1: unquote('"\\e96f"');
$eledd-copy: unquote('"\\e921"');
$eledd-minus: unquote('"\\e938"');
$eledd-minus-circle: unquote('"\\e939"');
$eledd-minus-square: unquote('"\\e93a"');
$eledd-refresh-cw: unquote('"\\e94b"');
$eledd-repeat: unquote('"\\e946"');
$eledd-rotate-ccw: unquote('"\\e947"');
$eledd-rotate-cw: unquote('"\\e948"');
$eledd-save: unquote('"\\e949"');
$eledd-settings4: unquote('"\\e94e"');
$eledd-square-check: unquote('"\\e970"');
$eledd-x-normal: unquote('"\\e95b"');
$eledd-x-circle: unquote('"\\e95c"');
$eledd-x-square: unquote('"\\e95d"');
$eledd-bell: unquote('"\\e910"');
$eledd-bell-off: unquote('"\\e911"');
$eledd-check: unquote('"\\e912"');
$eledd-check-circle: unquote('"\\e913"');
$eledd-check-square: unquote('"\\e914"');
$eledd-circle: unquote('"\\e91d"');
$eledd-circle-check: unquote('"\\e969"');
$eledd-copy1: unquote('"\\e922"');
$eledd-download: unquote('"\\e96b"');
$eledd-edit: unquote('"\\e926"');
$eledd-edit-2: unquote('"\\e927"');
$eledd-eye: unquote('"\\e929"');
$eledd-eye-off: unquote('"\\e92a"');
$eledd-save1: unquote('"\\e94a"');
$eledd-settings: unquote('"\\e94d"');
$eledd-elite-licenser1: unquote('"\\e951"');
$eledd-setting: unquote('"\\e945"');

